USE [GithubReporter]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/27/2026 15:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2/27/2026 15:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Status] [int] NOT NULL,
	[Role] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[GithubEmail] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradePerProject]    Script Date: 2/27/2026 15:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradePerProject](
	[GradePerProjectId] [uniqueidentifier] NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
	[Grade] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GradePerProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupTeam]    Script Date: 2/27/2026 15:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupTeam](
	[AccountID] [uniqueidentifier] NOT NULL,
	[GroupRole] [int] NOT NULL,
	[ProjectID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_GroupTeam] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC,
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 2/27/2026 15:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectID] [uniqueidentifier] NOT NULL,
	[ProjectName] [nvarchar](200) NOT NULL,
	[GithubLink] [text] NULL,
	[Description] [text] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[AccessToken] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 2/27/2026 15:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportID] [uniqueidentifier] NOT NULL,
	[ProjectID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [text] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CommitAmount] [int] NOT NULL,
	[ProgressByNumber] [int] NOT NULL,
	[SupervisorComment] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2/27/2026 15:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [uniqueidentifier] NOT NULL,
	[AccountID] [uniqueidentifier] NOT NULL,
	[StudentCode] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supervisor]    Script Date: 2/27/2026 15:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supervisor](
	[SupervisorID] [uniqueidentifier] NOT NULL,
	[AccountID] [uniqueidentifier] NOT NULL,
	[SupervisorCode] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupervisorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260225091951_AddCascadeDeleteToAccounts', N'8.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260226091426_Refactor_Group_Team_Table', N'8.0.5')
GO
INSERT [dbo].[Account] ([AccountID], [Name], [Email], [Password], [Status], [Role], [DateCreated], [GithubEmail]) VALUES (N'fffd85fc-1d39-4905-8238-2b83493f20cf', N'Nguyen Thi Ha', N'user4@example.com', N'$2a$12$jabTr90hfA7d4qlV0.tC9eVc0r5D6Jc7LbIk8kD66Hgev1fMsUbK6', 1, 1, CAST(N'2026-02-09T15:44:23.747' AS DateTime), N'git-user4@github.com')
INSERT [dbo].[Account] ([AccountID], [Name], [Email], [Password], [Status], [Role], [DateCreated], [GithubEmail]) VALUES (N'059ee63d-c239-444b-b36b-373f9e02863a', N'Do Van An', N'user10@example.com', N'$2a$12$jabTr90hfA7d4qlV0.tC9eVc0r5D6Jc7LbIk8kD66Hgev1fMsUbK6', 1, 1, CAST(N'2026-02-09T15:44:23.747' AS DateTime), N'git-user10@github.com')
INSERT [dbo].[Account] ([AccountID], [Name], [Email], [Password], [Status], [Role], [DateCreated], [GithubEmail]) VALUES (N'cf58997d-8b14-46b2-aac8-4f642c647ce4', N'Nguyen Do Thu', N'user5@example.com', N'$2a$12$jabTr90hfA7d4qlV0.tC9eVc0r5D6Jc7LbIk8kD66Hgev1fMsUbK6', 2, 2, CAST(N'2026-02-09T15:44:23.747' AS DateTime), N'git-user5@github.com')
GO
INSERT [dbo].[Project] ([ProjectID], [ProjectName], [GithubLink], [Description], [CreatedBy], [DateCreated], [AccessToken]) VALUES (N'91cdd448-9b60-4f77-a4e7-1dfc22bd0333', N'PRN232-Website-Showcase', N'https://github.com/ultrakhaicraft/PRN232-Website-Showcase', N'Meant to display educational material in related to .NET API', N'14f8eb18-1a18-42d1-b4c2-5eefc79e61ce', CAST(N'2026-02-23T08:53:37.207' AS DateTime), N'string')
INSERT [dbo].[Project] ([ProjectID], [ProjectName], [GithubLink], [Description], [CreatedBy], [DateCreated], [AccessToken]) VALUES (N'74ba39df-cfc7-4ebc-920f-d3d88ebdf136', N'Epic Cool Project', N'https://github.com/ultrakhaicraft/PRN232-Website-Showcase', N'Cool Stuff', N'14f8eb18-1a18-42d1-b4c2-5eefc79e61ce', CAST(N'2026-02-23T09:10:03.910' AS DateTime), N'string')
GO
INSERT [dbo].[Student] ([StudentID], [AccountID], [StudentCode]) VALUES (N'bba6e35c-2825-4b19-8f78-2375f61e2438', N'fffd85fc-1d39-4905-8238-2b83493f20cf', N'FSE77287421')
INSERT [dbo].[Student] ([StudentID], [AccountID], [StudentCode]) VALUES (N'b7fa3873-a7e5-48d1-b0bf-7ac015bd7834', N'51dc994f-8c36-45bd-b3d0-a29a2719a33a', N'FSE82230193')
INSERT [dbo].[Student] ([StudentID], [AccountID], [StudentCode]) VALUES (N'7be18550-3a7c-422f-b486-a4f7ef2060cd', N'567985a5-0d1d-4e98-86d0-bff66c1ca4c1', N'FSE22393392')
GO
INSERT [dbo].[Supervisor] ([SupervisorID], [AccountID], [SupervisorCode]) VALUES (N'7856ce47-6c70-47a0-8dc1-1861c50fe95b', N'14f8eb18-1a18-42d1-b4c2-5eefc79e61ce', N'FSR01928491')
INSERT [dbo].[Supervisor] ([SupervisorID], [AccountID], [SupervisorCode]) VALUES (N'1957076d-8b9c-4201-9878-228944d23fb1', N'9af79436-58d8-4b9a-93a3-ccd06612bad6', N'FSR32390481')
INSERT [dbo].[Supervisor] ([SupervisorID], [AccountID], [SupervisorCode]) VALUES (N'de253d16-6bb4-4caf-ac9c-33c90d44499c', N'c26e7093-6891-40c5-a62a-eaa7da581d38', N'FSR23301324')
GO
/****** Object:  Index [UQ_GradePerProject_Student_Project]    Script Date: 2/27/2026 15:28:39 ******/
ALTER TABLE [dbo].[GradePerProject] ADD  CONSTRAINT [UQ_GradePerProject_Student_Project] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Project] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Report] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[GradePerProject]  WITH CHECK ADD  CONSTRAINT [FK_GradePerProject_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectID])
GO
ALTER TABLE [dbo].[GradePerProject] CHECK CONSTRAINT [FK_GradePerProject_Project]
GO
ALTER TABLE [dbo].[GradePerProject]  WITH CHECK ADD  CONSTRAINT [FK_GradePerProject_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[GradePerProject] CHECK CONSTRAINT [FK_GradePerProject_Student]
GO
ALTER TABLE [dbo].[GroupTeam]  WITH CHECK ADD  CONSTRAINT [FK_Group_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[GroupTeam] CHECK CONSTRAINT [FK_Group_Account]
GO
ALTER TABLE [dbo].[GroupTeam]  WITH CHECK ADD  CONSTRAINT [FK_Group_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ProjectID])
GO
ALTER TABLE [dbo].[GroupTeam] CHECK CONSTRAINT [FK_Group_Project]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_CreatedBy]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_CreatedBy]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ProjectID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Project]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Account]
GO
ALTER TABLE [dbo].[Supervisor]  WITH CHECK ADD  CONSTRAINT [FK_Supervisor_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Supervisor] CHECK CONSTRAINT [FK_Supervisor_Account]
GO
